<!DOCTYPE html>
<html>
  <head>
    <title>Kris & Walley's Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users</h1>
    <ul>
      <% users.map(user => { %>
        <li><a href=/users/<%=user.id%>><%= user.username %></a></li>
      <% }) %>
    </ul>
    <h2>Sign Up</h2>
    <form action="/users" method="post">
      <input type="text" name="username" value="username">
      <input type="password" name="password" value="password">
      <input type="submit">
    </form>
  </body>
</html>
